/* ===============================================
   共通スタイル
   =============================================== */
.wrapper {
  /* width: 100%;
  max-width: 140rem;
  margin: 6rem  7rem 0 7rem; */
  font-family: Arial, Helvetica, sans-serif;
}

/* ===============================================
   メインビジュアル　男性のお洒落な服装
   =============================================== */
.mainvisual {
  width: 126rem;
  height: 59rem;

  margin: 6rem 7rem 0 7rem;

  object-fit: cover; /* containからcoverに変更 */
  display: block;
}

/* ===============================================
   メインビジュアル下のヘッダ
   =============================================== */
.navi_row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30rem; /* ★暫定★ */
  gap: 5rem;
  margin: 3.2rem 7rem 6.2rem 7rem;
}

.navi_item{
  width: 100%;
}

.logo_item {
  width: 12.1rem;
  height: 1.5rem;
}

.navi_items_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 19.2rem;
  gap: 3rem;
}

.concept_nav {
  width: 5.2rem;
  height: 1.6rem;
  font-size: 1.4rem;
  text-align: left;
}

.work_nav {
  width: 3.2rem;
  height: 1.6rem;
  font-size: 1.4rem;
  text-align: left;
}

.contact_nav {
  width: 4.8rem;
  height: 1.6rem;
  font-size: 1.4rem;
  text-align: left;
}

/* ===============================================
   ジュエリーとは
   =============================================== */

.jewelry_row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  /* width: 81.3rem; 482px(画像)67(余白)264px(文章) */
  
  width: 84rem; /* (48.2*2+17(空白)) */

  /* 画像とメッセージの多要素との距離　 */
  margin: 0 auto 6rem auto;

  gap: 0rem;

}

.jewelry_img {
  flex:1;
  width: 48.2rem;
  height: 48.2rem;
  object-fit: cover;
}

/* ここでflexをうける */
.jewelry_card{
  flex:1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10rem; /* 画像との距離 */

}

.jewelry_top_Message_item {
  width: 40.8rem; /* 幅を統一 */
  text-align: left;
  height: 3.2rem;
  font-size: 2.4rem;

}

.jewelry_Message_item_Concept {
  width: 40.8rem; /* 幅を統一 */
  text-align: left;
  
  height: 1.7rem;
  font-size: 1.6rem;
  margin-bottom: 2.2rem;
}

.jewelry_Message_discription {
  width: 24.8rem; /* 幅を統一 */
  text-align: left;

  font-size: 1.6rem;
  line-height: 2.7rem;
}

/* ===============================================
   ハンドメイド
   =============================================== */
.handmade_row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12rem;
  width: 84rem; 

  margin: 0 auto 6rem auto;
  gap: 9rem;
}

.handmade_img {
  width: 48.2rem;
  height: 48.2rem;
  object-fit: cover;
}

.handmade_card{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 7rem; 
 
}

.handmade_top_Message_item {

  width: 15.4rem;
  width: 32.4rem;
  height: 3.2rem;
  font-size: 2.4rem;

}

.handmade_Message_item_Concept {
  width: 32.4rem;
  width: 15.4rem;
  height: 1.7rem;
  font-size: 1.6rem;
  margin-bottom: 2.2rem;
}

.handmade_Message_discription {
  width: 24.8rem;

  font-size: 1.6rem;
  line-height: 2.7rem;
}
/* ===============================================
   フッター 
   =============================================== */

.contact_row {
  display: flex;
  gap: 69rem;
  justify-content: center;
}

.hooter_image {
  width: 12.1rem;
  height: 1.5rem;
}

.hooter_message {
  width: 15.2rem;
  height: 16.5rem;
}


/* ===============================================
   ★レスポンシブ★　メディアクエリ
   =============================================== */
@media screen and (max-width: 376px) {

  /* ===============================================
   ★レスポンシブ★ メインビジュアル　男性のお洒落な服装
   ============================================== */
  .mainvisual {
    width: 37.5rem;
    height: 33.4rem;

    margin: 0;

  }

 /* ===============================================
   ★レスポンシブ★  メインビジュアル下のヘッダ
   =============================================== */
  .navi_row {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 34.3rem; /* ★375-(16*2)★ */
    gap: 3.7rem;
    margin: 2rem auto 5.2rem ;

    border: 1px solid blue; /* デバッグ用 */
  }


  .concept_nav {
    width: 5.5rem;
    height: 2.0rem;
  }

  .work_nav {
    width: 3.3rem;
    height: 2.0rem;
  }

  .contact_nav {
    width: 5.1rem;
    height: 2.0rem;
  }



  /* ===============================================
   レスポンシブ　ジュエリーとは
   =============================================== */
.jewelry_erea{
  margin-bottom: 5.7rem;
}


  .jewelry_row {

    flex-direction: column;

    justify-content: flex-start;
    
    width: 100%; /* (48.2*2+17(空白)) */

    /* 画像とメッセージの多要素との距離　 */
    margin: 0 ;


    gap: 0.6rem;
    
  }


  .jewelry_img {
    width: 33.9rem;
    height: 33.9rem;
  }

  /* ここでflexをうける */
  .jewelry_card{
    flex:1;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1.8rem; /* 画像との距離 */

    
  }

  .jewelry_top_Message_item {
    width: 100%;
    height: 2.7rem;
    font-size: 2rem;
    margin-bottom: 0.1rem;
  } 

  .jewelry_Message_item_Concept {
    width: 100%;
    height: 1.7rem;
  }

.jewelry_Message_discription {
    width: 100%;
    font-size: 1.6rem;
}



  /* ===============================================
   レスポンシブ　ハンドメイド
   =============================================== */
.handmade_row {

    flex-direction: column-reverse;
    justify-content: flex-start;
    
    width: 100%; /* (48.2*2+17(空白)) */

    /* 画像とメッセージの多要素との距離　 */
    margin: 0 auto 6rem auto;

    gap: 0.6rem;

    border: 1px solid red; /* デバッグ用 */
  }




  /* ここでflexをうける */
  .handmade_card{
    flex:1;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1.8rem; /* 画像との距離 */

    border: 5px solid green; /* デバッグ用 */

  }

  .handmade_top_Message_item {
    width: 100%;
    height: 2.7rem;
    font-size: 2rem;
  } 

  .handmade_Message_item_Concept {
    width: 100%;
    height: 1.7rem;
  }

.handmade_Message_discription {
    width: 100%;
    font-size: 1.6rem;
}

  .handmade_img {
    width: 33.9rem;
    height: 33.9rem;
  }


}