/* ===============================================
   共通スタイル
   =============================================== */

.wrapper {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* ===============================================
   メインビジュアル　お洒落な服装
   =============================================== */

.mainvisual_area {
  width: 100%;
  padding: 0 7rem;
}

.mainvisual {
  width: 126rem;
  max-width: 100%;
  height: 59rem;
  margin: 6rem 0 0;
  object-fit: cover;
  display: block;
}

/* ===============================================
   メインビジュアル下のヘッダ
   =============================================== */
.navi_row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  margin: 3.2rem 7rem 6.2rem;
}

.logo_item {
  width: 12.1rem;
  height: 1.5rem;
}

.navi_items_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.concept_nav {
  width: 5.2rem;
  height: 1.6rem;
}

.work_nav {
  width: 3.2rem;
  height: 1.6rem;
}

.contact_nav {
  width: 4.8rem;
  height: 1.6rem;
}

.font_style {
  font-size: 1.4rem;
  text-align: left;
  color: black;
  display: inline-block;
}

/* ===============================================
   ジュエリーとは
   =============================================== */

.jewelry_row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96.4rem;
  gap: 8.5rem;
  /* 画像とメッセージの多要素との距離　 */
  margin: 0 auto 6rem auto;
}

/* ここでflexをうける */
.jewelry_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* ここでflexをうける */
.jewelry_img {
  width: 48.2rem;
  height: 48.2rem;
  object-fit: cover;
}

.jewelry_top_message_item {
  width: 40.8rem;
  text-align: left;
  height: 3.2rem;
  font-size: 2.4rem;
}

.jewelry_message_item_concept {
  width: 40.8rem;
  text-align: left;

  height: 1.7rem;
  font-size: 1.6rem;
  margin-bottom: 2.2rem;
}

.jewelry_message_description {
  width: 24.8rem;
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.7rem;
}

/* ===============================================
   ハンドメイド
   =============================================== */
.handmade_row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96.4rem;
  gap: 8.5rem;
  margin: 0 auto 6rem;
}

.handmade_img {
  width: 48.2rem;
  height: 48.2rem;
  object-fit: cover;
}

.handmade_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 7rem;
}

.handmade_top_message_item {
  width: 32.4rem;
  height: 3.2rem;
  font-size: 2.4rem;
}

.handmade_message_item_concept {
  width: 15.4rem;
  height: 1.7rem;
  font-size: 1.6rem;
  margin-bottom: 2.2rem;
}

.handmade_message_description {
  width: 24.8rem;
  font-size: 1.6rem;
  line-height: 2.7rem;
}

/* ===============================================
   フッター 
   =============================================== */

.contact_row {
  display: flex;
  width: 96.4rem;
  justify-content: space-between;
  margin: 0 auto 2rem;
}

.footer_image {
  width: 12.1rem;
  height: 1.5rem;
}

.footer_message {
  font-size: 1.4rem;
  height: 1.6rem;
}

/* --- レイアウト確認用（完成したら消す） --- */
div,
section,
article,
header,
footer,
nav,
main {
  outline: 1px solid red !important;
}

img,
svg {
  outline: 1px solid blue !important;
  background-color: rgba(0, 0, 255, 0.1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li {
  outline: 1px solid limegreen !important;
}



/* ===============================================
   ★レスポンシブ★　メディアクエリ
   =============================================== */
@media screen and (max-width: 699.98px) {

  /* ===============================================
   ★レスポンシブ★ メインビジュアル　お洒落な服装
   ============================================== */
  .mainvisual_area {
    width: 100%;
    padding: 0rem;
  }


  .mainvisual {
    width: 37.5rem;
    height: 33.4rem;
    margin: 0;
  }

  /* ===============================================
   ★レスポンシブ★  メインビジュアル下のヘッダ
   =============================================== */
  .navi_area {
    display: block;
    margin: 2rem 0 5rem 0;
  }

  .navi_row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.9rem;
    gap: 3.7rem;
    margin: 0 auto;
  }

  .concept_nav {
    width: 5.5rem;
    height: 1.6rem;
  }

  .work_nav {
    width: 3.3rem;
    height: 1.6rem;
  }

  .contact_nav {
    width: 5.1rem;
    height: 1.6rem;
  }

  /* ===============================================
   レスポンシブ　ジュエリーとは
   =============================================== */
  .jewelry_area {
    margin-bottom: 5.8rem;
  }

  .jewelry_row {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    /* 画像とメッセージの多要素との距離　 */
    margin: 0;
    gap: 0.6rem;
  }

  .jewelry_img {
    width: 33.9rem;
    height: 33.9rem;
  }

  /* ここでflexをうける */
  .jewelry_card {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1.8rem;
    /* 画像との距離 */
  }

  .jewelry_top_message_item {
    width: 100%;
    height: 2.7rem;
    font-size: 2rem;
    margin-bottom: 0.1rem;
  }

  .jewelry_message_item_concept {
    width: 100%;
    height: 1.7rem;
  }

  .jewelry_message_description {
    width: 24.8rem;
    font-size: 1.6rem;
  }

  /* ===============================================
   レスポンシブ　ハンドメイド
   =============================================== */
  .handmade_row {
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 100%;
    /* 画像とメッセージの多要素との距離　 */
    margin: 0 auto 7.8rem auto;
    gap: 0.6rem;
  }

  /* ここでflexをうける */
  .handmade_card {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1.8rem;
    /* 画像との距離 */
  }

  .handmade_top_message_item {
    width: 100%;
    height: 2.7rem;
    font-size: 2rem;
  }

  .handmade_message_item_concept {
    width: 100%;
    height: 1.7rem;
  }

  .handmade_message_description {
    width: 24.8rem;
    font-size: 1.6rem;
  }

  .handmade_img {
    width: 33.9rem;
    height: 33.9rem;
  }

  /* ===============================================
   レスポンシブ　フッター 
   =============================================== */
  .contact_row {
    display: flex;
    width: 33.9rem;
    justify-content: space-between;
    margin: 0 auto;
  }

  .footer_image {
    width: 11rem;
    height: 1.4rem;
  }

  .footer_message {
    font-size: 1.4rem;
    height: 1.6rem;
  }

}